iframe {width :99%; margin:0em; padding:0em; border: 1.5px solid black; margin-bottom:0em;}
#nav {height:12%; overflow:hidden; background-color: #333333;}
#central {height:80%;}
#foot {height:8%; overflow:hidden;}
